<h2>
  <%= gravatar_for @user %>
  <%= @user.id %>.
  <%= @user.name %>,
  <%= @user.email %>.
</h2>

<h2><%= "#{@user.name} microposts:"%></h2>

<% if logged_in? %>
  <%= render 'shared/micropost_form'%>
<%end%>

<% if @microposts.empty? %>
  <%= 'This user has no microposts' %>
<%else%>
  <%= render 'microposts/micropost'%>
<%end%>

<%= will_paginate @microposts%>