<h2>
  <%= gravatar_for @user %>
  <%= @user.id %>.
  <%= @user.name %>,
  <%= @user.email %>.
</h2>

<% @microposts.each do |micro|%>
  <li><%= micro.content %></li>
<%end%>
<p><%= link_to 'Add microposts', help_path %></p>
<%= will_paginate @microposts%>